#search_results h1 { margin-bottom: 0; }
#search_results p { margin-top: 0; margin-bottom: 25px; }
#search_results ul { list-style-position: inside; padding-left: 0; list-style: none; }
#search_results ul li { padding: 7px 15px; font-size: 1.1em; }
 
#search_frame { z-index: 9999; }

#header { position: relative; }


/*.method_details { border-top: 1px dotted #aaa; margin-top: 15px; padding-top: 0; }*/
/*.method_details.first { position: relative; top: -15px; margin-bottom: -15px; border-top: transparent solid; }*/


/*#info_box { position: relative; float: right; top: 0px; }*/
#info_box { position: relative; float: left; top: 0px; }
/*#info_box { margin-top: 15px; margin-bottom: -30px; }*/

#info_box { 
	  border: 1px solid #aaa;
	  border-width: 1px 1px 1px 1px;
}

#info_box a:hover { background: #eef; color: #06b; }
#info_box a.active { 
  background: #568; padding-bottom: 20px; color: #fff; border: 1px solid #457; 
  -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
}
#info_box a.inactive { color: #999; }
/*.frames #info_box { display: none; }*/

dl.box    { display: inline; }
dl.box dt { clear: both; }
dl.box dd { word-wrap: break-word; }

#files_ribbon { padding-left: 15px; font-size: 1.1em; padding: 0; }
#files_ribbon li { list-style: none; display: inline; padding: 7px 12px; line-height: 35px; }

#methods_ribbon { padding-left: 15px; font-size: 1.1em; }
#methods_ribbon li { list-style: none; display: inline; padding: 7px 12px; line-height: 35px; }

#classes_ribbon { padding-left: 15px; font-size: 1.1em; }
#classes_ribbon li { list-style: none; display: inline; padding: 7px 12px; line-height: 35px; }

#modules_ribbon { padding-left: 15px; font-size: 1.1em; }
#modules_ribbon li { list-style: none; display: inline; padding: 7px 12px; line-height: 35px; }

.method_details.first { position: relative; top: -15px; margin-bottom: -15px; border-top: transparent solid; }

#content { position: relative; }

#header { position: relative; }
#search { float: right; }


form.search {
/*  position: relative;*/
	visibility: hidden;
	display: none;
  color: #000;
  margin-top: 3px; padding: 7px; border: 1px solid #99f; width: 315px; background: #05a; 
  -moz-border-radius: 4px; -webkit-border-radius: 4px;
  margin-bottom: 10px;
}
form.search input { margin-left: 5px; width: 250px; border: 1px solid #99f; -moz-border-radius: 3px; font-family: monospace; }

#menu .noframes { margin-right: 355px; float: right; width: 130px; text-align: right; }

/*#menu  a.link_disabled:link { color: inherit; }*/
/*#menu  a.link_disabled:visited { color: inherit; }*/
#menu  a.link_disabled:hover { color: inherit; }

#search2 { float: right; z-index: 1; }
#search2 { position: absolute; right: 0px; top: 0px; }

div.search2_center {
	position: relative;
	text-align: center;
	width: 350px;
}

form.search2 {
/*  position: relative;*/
  color: #000;
	margin: 3px;
	padding: 10px;
	border: 1px solid #99f; background: #05a;
  -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

form.search2 input {
	width: 300px;
	height: 15px;
	border: 1px solid #99f;
	-moz-border-radius: 10px;
}

#menu { padding-top: 5px; }
#content h1 { margin-top: 0; border-top: 0; }
 
#content.error { font-size: 1.2em; }
#content.error p tt { font-size: 1.2em; }
#content.error .note { padding: 12px; }
 
.signature .permalink { float: right; font-size: 0.9em; }
 
/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	width: 500px;
	overflow: hidden;
	z-index: 99999;
}
 
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
 
.ac_results li {
  cursor: pointer;
	margin: 0px;
	padding: 3px;
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	
} 
 
.ac_loading {
	background: white url('/images/loading.gif') right center no-repeat;
}
 
.ac_even {
  background: #fafafa; border: 1px dotted #fafafa; border-left-width: 0; border-right-width: 0;
}
 
.ac_odd {
	background: #f0f0f0; border: 1px dotted #f0f0f0; border-left-width: 0; border-right-width: 0;
}
 
.ac_over {
  background: #ddd; cursor: pointer; border: 1px dotted #fff; border-left-width: 0; border-right-width: 0;
}
